.b-btn{
    &__slider{
    position:absolute;
    padding: 12px;
    z-index: 9999;
    right: 16px;
    bottom: 16px;
    font-weight: bolder;
    font-size: 56px;
    background:transparent;
    border: none;
    cursor:pointer;
    color: var(--gra-kg);
    }
}