.b-flex{
    display: flex;
    &__column{
        flex-direction: column;
        justify-content: center;
    }
    &__row{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}


.b-grid{
    display: grid;
    gap:8px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    &__item{
        display: grid;
        grid-column: span 2;
        justify-content:center;
    }
}