// bloque nav
.b-nav{
    width:80%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: var(--nazari-red);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
    padding:12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 999;
    &__container{
        display:flex;
        justify-content: center;
        width:20%;
    }
    &__link{
        display:flex;
        justify-content: center;
        text-decoration: none;
        padding:8px 8px;
        background-color:var(--nazari-gold);
        border-radius: 50px;
        &:hover{
            background-color:var(--gra-kg);
        }
    }
    &__logo{
        width:5%;
        cursor:pointer;
    }
    &__img{
        width:100%
    }
}