.b-wall{
    width: 100%;
    display: flex;
    justify-content: center;
    &__wrap{
        position: relative;
        padding: 12px;
        width: 80%;
        background-color: var(--gra-kg);
    }
    &__img{
        width: 100%;
    }
}