// la fuente montse
@font-face {
    font-family: "MontserratMedium";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MontserratBold";
    src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBolder';
    src: url("./fonts/Montserrat/Montserrat-Black.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratLight';
    src: url("./fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}