:root {
  --xs:8px;
  --s:12px;
  --m:16px;
  --l:20px;
  --xl:24px;
  --xxl:28px;
}

:root {
  --nazari-red:#FF0000;
  --nazari-gold:#FCDD09;
  --nazari-black:#333333;
  --gra-kg:#E3E4E5;
  --gra-kg-green:#008F4C;
}

body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBolder';
  src: url("./fonts/Montserrat/Montserrat-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratLight';
  src: url("./fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

.b-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--gra-kg);
}

.b-nav {
  width: 80%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: var(--nazari-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  padding: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 999;
}

.b-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.b-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 8px 8px;
  background-color: var(--nazari-gold);
  border-radius: 50px;
}

.b-nav__link:hover {
  background-color: var(--gra-kg);
}

.b-nav__logo {
  width: 5%;
  cursor: pointer;
}

.b-nav__img {
  width: 100%;
}

.b-text {
  font-size: var(--l);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.b-text__nav {
  color: var(--nazari-black);
}

.b-btn__slider {
  position: absolute;
  padding: 12px;
  z-index: 9999;
  right: 16px;
  bottom: 16px;
  font-weight: bolder;
  font-size: 56px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--gra-kg);
}

.b-wall {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-wall__wrap {
  position: relative;
  padding: 12px;
  width: 80%;
  background-color: var(--gra-kg);
}

.b-wall__img {
  width: 100%;
}

.b-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-flex__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-flex__row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-grid {
  display: -ms-grid;
  display: grid;
  gap: 8px;
  grid-auto-rows: auto;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.b-grid__item {
  display: -ms-grid;
  display: grid;
  grid-column: span 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */